body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  display: flex;
  justify-content: center;
  margin: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #a2a2a2;
}

.addform {
  display: flex;
  justify-content: center;
}

.main-input {
  padding: 5px 20px;
  width: 200px;
  border: none;
  border-bottom: 2px solid #e2e2e2;
  font-size: 17px;
  color: #333;
  outline: none;
}

.main-btn {
  margin-left: 15px;
  padding: 5px 15px;
  border-radius: 10px;
  background-color: #1eb4eb;
  color: #fff;
  font-weight: 500;
  font-size: 15px;
  border: none;
  cursor: pointer;
  outline: none;
}

.main-btn:hover {
  background-color: #219beb;
}

.list {
  display: flex;
  margin: 20px auto;
  flex-direction: column;
  flex-wrap: wrap;
  width: 600px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #efefef;
  color: #333;
  border-radius: 7px;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: move;
}

.sub-panel {
  display: flex;
}

.delete {
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
  position: relative;
}

.delete:hover:before,
.delete:hover:after {
  background-color: #fb0000;
}

.delete:before,
.delete:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 20px;
  background-color: #b51f1f;
  margin-left: 9px;
}

.delete:before {
  transform: rotate(45deg);
}

.delete:after {
  transform: rotate(-45deg);
}

.wrap-text {
  display: flex;
  align-items: center;
}

.text {
  padding: 0 10px 0 0;
}

.check {
  position: relative;
  display: flex;
  flex-shrink: 0;
  width: 22px;
  height: 22px;
  border: 2px solid #1eb4eb;
  border-radius: 50%;
  margin-right: 10px;
  background-color: #fff;
  cursor: pointer;
}

.check:hover {
  border: 2px solid #077aa3;
}

.check.toggle-true {
  border: 2px solid #29b86b;
}

.check.toggle-true:before {
  content: "\262D";
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 4px;
  margin-top: -2px;
  font-size: 17px;
  font-weight: 500;
  color: #ea8787;
}

.toggle-true + span {
  text-decoration: line-through;
  color: #bebebe;
}

.edit {
  display: block;
  position: relative;
  width: 20px;
  margin-right: 15px;
  cursor: pointer;
}

.edit:before {
  content: '\270E';
  position: absolute;
  top: -6px;
  left: 0;
  color: #1eb4eb;
  font-size: 22px;
}

.edit:hover:before {
  color: #2a81eb;
}

.show-mode {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.task-input {
  border: none;
  width: 460px;
  padding: 5px 15px;
  outline: none;
}

.task-btn {
  margin-left: 12px;
  padding: 5px 17px;
  border-radius: 3px;
  background-color: #1eb4eb;
  color: #fff;
  font-weight: 500;
  font-size: 13px;
  border: none;
  cursor: pointer;
  outline: none;
}